<style>
	h3.ex1
	{
		width: 70%; 
		text-align: left;
		font-size: 18px;
		
	}

	p 
	{
		width: 70%;
		text-align: left;
		font-size: 16px;		
	}

</style>


<h2>Hello world and welcome to my website</h2> <br>

<p>
</p>

<p>
Over the course of two weeks, i have spent my time learning how to code a website with a functioning database, user login and logout function, the ability to upload information and files to the server as well as creating a fully functional guide on how to install ruby on rails
</p>

<p>
The hurdles i have had to overcome is having to learn not only Ruby, but a plethora of other languages such as HTML, CSS, javascript, JQuery, MySQL, SCSS as well as the bolt on language to enable the functionality you see on this page (rails). <br>
The design was from a framework called "bootstrap", it was great at teaching me the little intricaicies of javascript, html and CSS.
</p>

<br>

<p>
	What I have done so far

	<div style="text-align:left; width: 65%;">
		<li > 
			Created a basic website
		</li>
	
		<li> 
			Created multiple pages with custom routes
		</li>

		<li> 
 			Created login, logout, and forget passwords functions. 
		</li>

		<li> 
			Manipulated the database to storing email addresses and passwords which are encrypted.
		</li>
		
		<li> 
			Added functionality to allow people to upload strings of texts or as well as images.
		</li>
		
		<li>
			Added a section to view any and all submissions created by users
		</li>

		<li> 
			Set up a guide and an FAQ section 
		</li>
		
		<li> 
			Set up a series of authentications when people try to access pages they shouldn't be allowed to see.
		</li>

		<li> 
 
		</li>

		<li> 
			
		</li>
		
	<div>

</p>

<p>
	<h3>To do list: </h3>
		
		<li>	
		</li>
</p>